<?xml version="1.0"?><robot name="pepe">
	<link name="0">
		<visual>
			<geometry>
				<cylinder length="1.1488015249183905" radius="0.9429044593163828"/>
			</geometry>
		</visual>
		<collision>
			<geometry>
				<cylinder length="1.1488015249183905" radius="0.9429044593163828"/>
			</geometry>
		</collision>
		<inertial>
			<mass value="3.208708431044181"/>
			<inertia ixx="0.03" iyy="0.03" izz="0.03" ixy="0" ixz="0" iyx="0"/>
		</inertial>
	</link>
</robot>
